{% trans_default_domain 'ShopBundle' %}
 
<div class="items-cart-inner">
                    <div class="basket"> <i class="glyphicon glyphicon-shopping-cart"></i> </div>
                    <div class="basket-item-count"><span id="cart-quantity" class="count">{{ cart.quantity }}</span></div>
                    <div class="total-price-basket"> <span id="cart-sum" class="lbl">{{ cart.sum }}</span> </div>
                  </div>